apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: eucloud-uploads-pvc
  namespace: eucloud
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: eucloud-database-pvc
  namespace: eucloud
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
