apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: eucloud-database-pvc
  namespace: eucloud
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: eucloud-uploads-pvc
  namespace: eucloud
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path

