apiVersion: v1
kind: Service
metadata:
  name: eucloud-backend
  namespace: eucloud
  labels:
    app: eucloud-backend
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: eucloud-backend
---
apiVersion: v1
kind: Service
metadata:
  name: eucloud-frontend
  namespace: eucloud
  labels:
    app: eucloud-frontend
spec:
  type: NodePort
  selector:
    app: eucloud-frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30080

